<div>
    <table class="table">
        <tr><th>X</th><td><input class="form-control" type="number" ng-model="box.boxStyle.left" min="0" max="799"/></td></tr>
        <tr><th>Y</th><td><input class="form-control" type="number" ng-model="box.boxStyle.top" min="0" max="599"/></td></tr>
        <tr><th>Largeur</th><td><input class="form-control" type="number" ng-model="box.boxStyle.width" min="1"/></td></tr>
        <tr><th>Hauteur</th><td><input class="form-control" type="number" ng-model="box.boxStyle.height" min="1"/></td></tr>
        <tr><th>Taille&nbsp;Police</th><td><input class="form-control" type="number" ng-model="box.lineStyle.fontSize" min="6" max="32"/></td></tr>
    </table>
</div>